body {
  max-width: 1321px;
}
* {
  font-family: "Poppins", sans-serif;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 32px;
  margin-left: 32px;
  margin-top: 32px;
  height: 36px;
}
hero {
  display: flex;
  margin-top: 22px;
  margin-left: 32px;
}
.herographic {
  overflow: hidden;
}
.herotext {
  padding-top: 50px;
  width: 200px;
  min-width: 200px;
}
hero h2 {
  font-size: 16px;
  letter-spacing: 0.1em;
  color: #ff3998;
}
.button {
  margin-bottom: 32px;
  margin-top: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 60px;
  background-image: url(/background.svg);
  background-size: 160px;
  border-radius: 36px;
}
.button-inside {
  width: 154px;
  height: 54px;
  background-color: white;
  border-radius: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button-inside:hover {
  background-color: rgb(255, 52, 140);
}
hero p {
  color: rgb(75, 75, 75);
}
upsell {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  height: 326px;
  background-image: url(/background.svg);
  background-position: -20px;
  background-repeat: no-repeat;
}
upsell h1,
upsell p {
  margin-left: 32px;
}
upsell p {
  margin-bottom: 64px;
}
press {
  display: flex;
  flex-wrap: wrap;
  width: 350px;
  justify-content: space-around;
  padding: 32px;
  padding-left: 10vw;
}
press img,
press div {
  height: 40px;
}
.formobile {
  overflow: hidden;
  width: 130px;
}
.formobile img {
  height: 100%;
  object-position: left;
  object-fit: cover;
}
.showcasemargin {
  padding-left: 32px;
}
showcase p a {
  color: black;
}
.NFTdown {
  background-color: rgb(233, 233, 233);
  max-width: 290px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
}
.upper {
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  margin: 0 20px 10px 20px;
}
.upper p {
  font-size: 12px;
  padding-top: 20px;
}
.gloop {
  color: rgb(255, 155, 43);
}
.price {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}
.price-tag {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.price-tag img {
  padding-right: 10px;
  height: 22px;
}
.price-place {
  width: 70px;
}
.NFT-footer {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  color: lightslategray;
}
.NFTblock {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
  overflow: hidden;
}
.NFT2,
.NFT3,
.NFT4 {
  margin-left: 32px;
}
.NFT4 {
  margin-right: 32px;
}
.divider {
  height: 0px;
  width: 95vw;
  border: 1px solid rgb(234, 234, 234);
  max-width: 1319px;
}
.space94px {
  height: 94px;
}
.footer-upsell-main {
  display: flex;
  margin-top: 22px;
  margin-left: 32px;
  width: 88vw;
  max-width: 1050px;
  justify-content: space-between;
}
.footerupselltext h2 {
  font-size: 16px;
  letter-spacing: 0.1em;
  color: #ff3998;
}
.footerupselltext p {
  color: rgb(75, 75, 75);
}
.upsellgraphic img {
  height: 450px;
  padding-top: 50px;
}
.footerupselltext h1 {
  font-size: 3rem;
}
.left p {
  color: rgb(75, 75, 75);
}
.left i {
  margin-right: 10px;
  color: rgb(142, 142, 142);
}
.left {
  margin-top: 64px;
  margin-left: 32px;
}
.bottom {
  margin-left: 32px;
  color: rgb(142, 142, 142);
}
.right {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 300px;
}
.right div :first-child {
  font-weight: bolder;
}
.right div {
  margin: 32px;
}
.desktop {
  display: none;
}
.desktop p {
  color: rgb(106, 106, 106);
  margin-right: 10px;
}
.desktop p a {
  color: rgb(255, 52, 140);
  text-decoration: none;
}
.footerup {
  margin-top: 64px;
}
.footer-down {
  margin-top: 32px;
}
.desktop.footer {
  color: rgb(142, 142, 142);
  margin-right: 32px;
}
footer {
  margin-bottom: 32px;
}
@media only screen and (min-width: 600px) {
  .formobile {
    width: auto;
  }
  .fa-bars {
    display: none;
  }
  .desktop {
    display: flex;
  }
  upsell {
    background-position: 0px;
    background-repeat: no-repeat;
  }
  press {
    display: flex;
    flex-wrap: wrap;
    width: auto;
    width: auto;
    padding-left: 32px;
  }
  .right {
    flex-wrap: nowrap;
    width: 50vw;
    justify-content: space-around;
  }
  .right div {
    margin: 2px;
  }
  footer {
    display: flex;
    flex-direction: column;
  }
  .footerup {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
  }
  .footer-down {
    display: flex;
    justify-content: space-between;
    margin-top: 64px;
  }
  .footerupselltext {
    margin-top: 64px;
  }
  .herotext {
    width: auto;
  }
}
logo {
  border-radius: 36px;
  background-color: transparent;
  animation-name: logo;
  animation-duration: 4s;
}
@keyframes logo {
  0% {
    background-color: transparent;
  }
  25% {
    background-color: rgb(255, 52, 140, 0.1);
  }
  50% {
    background-color: rgb(255, 155, 43, 0.1);
  }
  75% {
    background-color: rgb(155, 198, 129, 0.1);
  }
  100% {
    background-color: transparent;
  }
}
